name: Build V1
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Enter backend
        run: cd back-end-loto-app/
      - name: Verify directory
        run: pwd
      - name: Install dependencies
        run: npm ci
      #- name: Lint, run: npm run lint - future
      #- name: Test code run: npm run test - future
      - name: Build code
        run: npm run build
      - name: Deploy code
        run: echo "Deploying..."
